<div id="history">
  <section class="title">
    <div class="description">
      <h1>History</h1>
    </div>
  </section>
  <section class="club">
   <img src="http://via.placeholder.com/300x300" alt="">
   <div class="details">
     <h1>Whimple Cricket Club</h1>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, distinctio tempora. Beatae facere dolorem excepturi praesentium placeat necessitatibus culpa sapiente vitae tenetur quas, nesciunt aspernatur ut rerum, officiis asperiores ratione!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in nisi officiis suscipit ex laboriosam ut neque possimus beatae molestias officia quaerat, atque placeat, sequi quam velit iste facilis, consequuntur ea excepturi nostrum. Cum ipsa sed quod saepe aliquid fugit quae voluptas tempora excepturi inventore non quibusdam ut, esse ratione?</p>
   </div>
  </section>
  <section class="recent">
   <div class="details">
     <h1>Recent History</h1>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, distinctio tempora. Beatae facere dolorem excepturi praesentium placeat necessitatibus culpa sapiente vitae tenetur quas, nesciunt aspernatur ut rerum, officiis asperiores ratione!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in nisi officiis suscipit ex laboriosam ut neque possimus beatae molestias officia quaerat, atque placeat, sequi quam velit iste facilis, consequuntur ea excepturi nostrum. Cum ipsa sed quod saepe aliquid fugit quae voluptas tempora excepturi inventore non quibusdam ut, esse ratione?</p>
   </div>
   <img src="http://via.placeholder.com/300x300" alt="">
  </section>
  <section class="honours">
    <h1>Honours Boards</h1>
    <div class="boards">
      <img src="http://via.placeholder.com/300x300" alt="">
      <img src="http://via.placeholder.com/300x300" alt=""> 
      <img src="http://via.placeholder.com/300x300" alt="">
      <img src="http://via.placeholder.com/300x300" alt="">
    </div>
  </section>
</div>
