<div id="history">
  <section class="title">
    <div class="description">
      <h1 class="page-title">History</h1>
    </div>
  </section>
  <div class="content-container shadow">
    <section class="club">
      <%= image_tag 'whimple-logo.svg' %>
      <div class="details">
        <h1>Whimple Cricket Club</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, distinctio tempora. Beatae facere dolorem excepturi praesentium placeat necessitatibus culpa sapiente vitae tenetur quas, nesciunt aspernatur ut rerum, officiis asperiores ratione!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in nisi officiis suscipit ex laboriosam ut neque possimus beatae molestias officia quaerat, atque placeat, sequi quam velit iste facilis, consequuntur ea excepturi nostrum. Cum ipsa sed quod saepe aliquid fugit quae voluptas tempora excepturi inventore non quibusdam ut, esse ratione?</p>
      </div>
    </section>
    <section class="recent">
      <div class="details">
        <h1>Recent History</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, distinctio tempora. Beatae facere dolorem excepturi praesentium placeat necessitatibus culpa sapiente vitae tenetur quas, nesciunt aspernatur ut rerum, officiis asperiores ratione!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in nisi officiis suscipit ex laboriosam ut neque possimus beatae molestias officia quaerat, atque placeat, sequi quam velit iste facilis, consequuntur ea excepturi nostrum. Cum ipsa sed quod saepe aliquid fugit quae voluptas tempora excepturi inventore non quibusdam ut, esse ratione?</p>
      </div>
    </section>
    <section class="whiteways">
      <div class="details">
        <div class="text">
         <h1>Whiteways Cup</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rerum esse rem pariatur deleniti officia obcaecati architecto blanditiis consequatur beatae accusantium iure veritatis maxime, dolore, repudiandae magnam totam illum, ex ratione exercitationem voluptatum. Earum iste quo vel corporis, accusantium, quaerat impedit, odio quod illo voluptates voluptatem ex ullam ut? Obcaecati.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse recusandae delectus quis id voluptatem vitae dolore quod iure cupiditate. Ipsam.</p>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, repudiandae minus. Velit officiis sunt perferendis repellat voluptates deleniti. Dignissimos facilis animi quam temporibus. Accusantium quia, nesciunt quidem laudantium itaque labore.</p>
        </div>
         <%= image_tag 'ww-logo.jpeg'%>
      </div>
    </section>
    <section class="knowle-cross">
      <div class="details">
        <h1>Knowle Cross</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, eligendi omnis. Cum ab rerum, alias sed repellat soluta? Recusandae mollitia quis, eligendi nemo maiores, sequi quibusdam neque aut ipsam quas fugit nostrum laboriosam nesciunt ipsum consectetur odit repellendus, atque optio obcaecati placeat cupiditate. Harum numquam esse officiis. In, odio commodi!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam iste libero voluptas at praesentium ut deleniti distinctio mollitia eos nobis, autem consequatur quis voluptatem fugit? Assumenda harum maiores molestiae saepe.</p>
      </div>
    </section>
  </div>
</div>
