<div id="home" class="content">
  <div class="background-image">
  </div>
  <div id="landing">
    <div class="content-head">
      <div class="title">
        <h1>Whimple</h1>
        <h1>Cricket Club</h1>
        <h3>Welcome to our club</h3>
      </div>
    </div>
  </div>
</div>
