  <div id="home">
    <section class="title">
      <div class="description">
        <h1>Whimple Cricket Club</h1>
      </div>
    </section>
    <section id="about">
      <h2>Want to get involved?</h2>
      <p id="head">If you're interested in joining the club as a player, a social member or by registering your child to attend youth sessions, please get in touch or come along on a Friday night.</p>
      <a href="#">Join Us</a>
    </section>
    <section id="links">
      <div class="card">
        <h2>Card 1</h2>
        <img src="background.jpg" alt="">
        <p>This is going to be the first card</p>
        <a href="#">Teams</a>
      </div>
        <div class="card">
        <h2>Card 2</h2>
        <%# <img src="" alt=""> %>
        <p>This is going to be the second card</p>
        <a href="#">Fixtures</a>
      </div>
    </section>
    <section id="social-media">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
      </ul>
    </section>
    <footer>
      <p>Knowle Cross Recreation Ground&nbsp; Knowle Cross&nbsp; Whimple&nbsp; Exeter&nbsp; EX5 2NU</p>
      <p>01404&nbsp; 822700</p>
    </footer>
  </div>
