  <div id="home">
    <section class="title">
      <div class="description">
        <h1>Whimple Cricket Club</h1>
      </div>
    </section>
    <%# <section id="latest-news">
      <div class="content-container">
        <div class="first">
        <h1>First</h1>
        </div>
        <div class="second">
        <h1>Second</h1>
        </div>
        <div class="third">
        <h1>Third</h1>
        </div>
      </div>
    </section> %>
    <section id="links">
      <div class="content-container">
        <div class="get-involved">
          <h2>Get Involved</h2>
          <p id="head">If you're interested in joining the club as a player, a social member or by registering your child to attend youth sessions, please get in touch or come along on a Friday night.</p>
          <a href="#">Join Us</a>
        </div>
      </div>
    </section>
    <% if @fixture %>
      <section id="next-game">
        <div class="content-container">
          <h2>Next Match</h2>
          <div class="title-fixture">
            <h1>Whimple</h1>
            <h2>vs</h2>
            <h1><%= @fixture.opponent %></h1>
          </div>
          <h2><%=@fixture.match_start.strftime('%e %B %Y at %-I:%M%P')%></h2>
          <h2><%=@fixture.location%></h2>
        </div>
      </section>
    <%end%>
    <section id="image-break">
    </section>
    <section id="about">
      <div class="container">
        <div class="details">
        </div>
      </div>
    </section>
  </div>
