<div id="home" class="landing content">
  <div class="heading">
    <div class="header-wrapper">
      <figure>
        <%= image_tag("background2")%>
      </figure>
    </div>
  </div>
    <div class="content-head">
      <div class="title">
        <h1>Whimple</h1>
        <h1>Cricket Club</h1>
        <h3>Welcome to our club</h3>
      </div>
    </div>
  </div>
</div>
