  <div id="home">
    <section class="title">
      <div class="description">
        <h1>Whimple Cricket Club</h1>
      </div>
    </section>
    <section id="next-game">
    <h2>Next Fixture</h2>
      <%= render 'fixtures/fixture', { fixture: @fixture } %>
    </section>
    <section id="about">
      <h2>Want to get involved?</h2>
      <p id="head">If you're interested in joining the club as a player, a social member or by registering your child to attend youth sessions, please get in touch or come along on a Friday night.</p>
      <a href="#">Join Us</a>
    </section>
    <section id="links">
      <div class="card">
        <%= image_tag "card1.jpg" %>
        <p>We currently have two senior teams and a friendly XI which plays 20/20 on Sundays.</p>
        <a href="#">View Players</a>
      </div>
        <div class="card">
        <%= image_tag "card2.jpg" %>
        <p>We play across the weekends throughout the summer.  Come and join us for a match.</p>
        <a href="#">View Fixtures</a>
      </div>
    </section>
  </div>
