<div id="sponsors" class="content">
  <div class="header">
    <div class="title">
      <h1>Sponsors</h1>
      <h3>These guys help us out!</h3>
    </div>
  </div>
  <div class="sponsor-list">

  </div>
</div>
