<div id="sponsors" class="content">
  <div class="header">
    <div class="title">
      <h1>Sponsors</h1>
      <h3>These guys help us out!</h3>
    </div>
  </div>
  <h3>CURRENT SPONSORS</h3>
  <div class="sponsor-list">
    <div class="sponsor">
      <h4>Hosemaster</h4>
      <p><a href="http://www.hosemaster.co.uk">Website</a></p>
      <p>No matter what the problem, who the component is made by,</p>
      <p>where you are, or what it's used for,</p>
      <p>Hosemaster are the team to get you back up to pressure</p>
      <p>and working effectively in no time!</p>
    </div>
    <div class="sponsor">
      <h4>The Thirsty Farmer</h4>
      <p><a href="https://thirstyfarmer.co.uk/">Website</a></p>
      <p>The award-winning team at the heart of the Pub serves food and drink sourced locally where possible and freshly prepared dishes cooked to order ranging from nibbles, buffets, and celebratory meals.</p>
    </div>
  </div>
</div>
