<div id="show-fixtures">
    <section class="title">
        <h1>Fixtures & Results</h1>
    </section>
    <% if @fixtures %>
        <section class="fixture-list">
            <% @fixtures.each do | fixture | %>
                <%= render 'fixture', { fixture: fixture } %>
            <% end %>
        </section>
    <% end %>
</div>