<div id="show-fixtures">
    <section class="title">
        <div class="description">
            <h1 class="page-title">Fixtures & Results</h1>
        </div>
    </section>
    <% if @fixtures %>
        <section class="fixture-list">
            <% @fixtures.each do | fixture | %>
                <%= render 'fixture', { fixture: fixture } %>
            <% end %>
        </section>
    <% end %>
</div>