<% provide(:btn_text, 'Add Fixture') %>
<div id="new-fixture">
    <section class="title">
        <h1>Add Fixture</h1>
    </section>
    <%= render 'shared/flash' %>
    <section class="fixture-form">
        <%= render 'fixture_form' %>
    </section>
</div>
