$navbar-link-colour :rgba(255, 255, 255, 0.98);
$whimple-green: rgb(40, 110, 37);
$darker-green: rgb(26, 75, 25);
$background-overlay: rgba(88, 196, 74, 0.315);
$title-font: 'Montserrat', sans-serif;
$body-font: 'Hind', sans-serif;


body {
  font-family: $body-font;
  background: #f8f8f8;
}

.navbar {
  position: absolute;
  min-width: 100%;
  z-index: 2;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  height: 72px;
  padding: 5px 0;
  background-color: rgba(213, 213, 213, 0);
  text-transform: uppercase;

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .mob-menu {
      display: none;
    }

    .logo {
      display: inline-block;

      a {
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: 2px;
        text-shadow: 0px 1px rgb(156, 156, 156);
      }
    }

    ul {
      display: flex;
      list-style: none;
    
      li {
        display: inline;
        a {
          letter-spacing: 1px;
          margin-left: 50px;
          font-size: 1em;
        }
        a:hover {
          line-height: 1.2px;
          text-decoration: underline;
        }
      }

      li.menu-btn {
        display: none;
      }
    }
  
    a {
      text-decoration: none;
      color: $navbar-link-colour;
    }
  }
}

section.title {
  height: 600px;
  width: 100vw;
  font-family: $title-font;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.description {
    align-self: center;

    h1.page-title {
      align-self: center;
      font-size: 70px;
      letter-spacing: 1.5px;
      font-weight: 700;
      color: white;
      font-weight: bold;
      line-height: 63px;
      border-bottom: 2px solid white;
    } 
  }
}

footer {
  padding-top: 20px;
  margin-top: -10px;
  z-index: -1;
  background: $darker-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    padding: 2px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  p#email {
    text-transform: lowercase;
  }
}

section#social-media {
  background: $whimple-green;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-left: 0px;

    li {
      padding: 0px 15px;
      flex: 1;

      a {
        color: white;
        font-size: 45px;
      }
    }
  }
}

div.flash {
  margin: auto;
  min-height: 30px;
  margin-top: 10px;
  font-size: 15px;
  width: 50%;
  text-align: center;
}

div.flash-notice {
  color: $whimple-green;
}

div.flash-alert {
  border: 2px solid red;
  color: red;
  h2 {
    text-decoration: underline;
  }
}

li.display-mobile {
  display: block;
  height: 50px;
  margin: auto;
}

div.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  div.admin-navbar {
    height: 60px;
    min-width: 100%;
    background-color: $whimple-green; 
}

section.form {
    min-height: 440px;
    padding-top: 20px;
    width: 50%;
    form {
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        .form-header {
            h2 {
                width: 25%;
                text-align: right;
                text-decoration: underline;
                font-size: 30px;
            }
        }
        .form-group {
            display: flex;
            flex-direction: row;
            margin: 20px;
            align-items: center;
            label {
                width: 25%;
                text-align: right;
                font-size: 20px;
            }
            input, select, textarea {
              margin-left: 40px;
              width: 70%;
            }
            input[type="text"],
            textarea {
              -webkit-appearance: textfield;
              -moz-appearance: textfield;
              appearance: textfield;
            }
            input {
              height: 30px;
            }
            textarea {
              resize: none;
            }
            select {
              background: white;
            }
            .btn {
                margin-left: 0px;
                width: 35%;
                font-size: 18.5px;
                padding: 5px;
                margin-left: auto;
                &:hover {
                    cursor: pointer;
                }
            }
        }
      .fixture-date {
        select {
          width: 20%;
          margin-left: 5%;
        }
        select:first-of-type {
          margin-left: 40px;
        }
      }
      .fixture-time {
        select {
          width: 15%;
          margin-left: 5%;
        }
        select:first-of-type {
          margin-left: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {

  nav.navbar {
    .wrapper {
      padding-top:20px;
      justify-content: space-evenly;

      .mob-menu {
        display: inline-block;
        width: 20%;
        text-align: center;
        z-index: 2;
        a {
          font-size: 25px;
        }
      }
      .logo {
        width: 70%;
        text-align: center;
        a {
          font-size: 35px;
        }
      }
      .nav-links {
          padding-left: 0px!important;
        li {
          display: none;
        }
      }
    }
  }
}
