$navbar-link-colour :rgba(255, 255, 255, 0.98);

header {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
  height: 72px;
  background-color: rgba(213, 213, 213, 0);
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  .logo {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 0px 1px rgb(156, 156, 156);
  }
  ul {
    list-style: none;
    li {
      display: inline;
      a {
        letter-spacing: 1px;
        margin-left: 50px;
      }
    }
  }

  a {
    text-decoration: none;
    color: $navbar-link-colour;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

#main {
  margin-top: 80px;
}
