$navbar-link-colour :rgba(255, 255, 255, 0.98);
$whimple-green: hsl(118, 49%, 29%);

.navbar {
  position: absolute;
  min-width: 100%;
  z-index: 2;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  font-family: 'Hind', sans-serif;
  height: 72px;
  padding: 5px 0;
  background-color: rgba(213, 213, 213, 0);
  text-transform: uppercase;

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      display: inline-block;

      a {
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: 2px;
        text-shadow: 0px 1px rgb(156, 156, 156);
      }
    }

    ul {
      display: flex;
      list-style: none;
    
      li {
        display: inline;
        a {
          letter-spacing: 1px;
          margin-left: 50px;
        }
        a:hover {
          line-height: 1.2px;
          text-decoration: underline;
        }
      }

      li.menu-btn {
        display: none;
      }
    }
  
    a {
      text-decoration: none;
      color: $navbar-link-colour;
    }
  }
}

footer {
  padding-top: 20px;
  font-family: 'Hind', sans-serif;
  margin-top: -10px;
  z-index: -1;
  background: rgb(26, 75, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    padding: 2px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  p#email {
    text-transform: lowercase;
  }
}

section#social-media {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  background: $whimple-green;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    li {
      padding: 0 30px;

      a {
        color: white;
        font-size: 45px;
      }
    }
  }
}

div.flash {
  margin: auto;
  min-height: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Hind', sans-serif;
  width: 75%;
  text-align: center;
}

div.flash-notice {
  
  color: $whimple-green;
}

div.flash-alert {
  color: red;
}

li.display-mobile {
  display: block;
  height: 50px;
}

@media only screen and (max-width: 770px) {

  nav.navbar {
    .wrapper {
      flex-wrap: wrap;
      .logo {
        padding-top: 12px;
        align-self: center;
        width: 100%;
        text-align: center;
      }
      .nav-links {
          padding-left: 0px!important;
        li {
          padding-left: 0px;
          display: none;
          a {
            font-size: 2em;
            margin-left: 0px;
          }
        }
        li.menu-btn {
          display: block;
        }
      }
    }
  }
}