div#events-index {
  font-family: 'Hind', sans-serif;

  section.title {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(rgba(88, 196, 74, 0.315), rgba(88, 196, 74, 0.315)), url('background-events.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    h1 {
      padding-top: 180px;
      font-family: 'Montserrat', sans-serif;
      font-size: 70px;
      letter-spacing: 1.5px;
      font-weight: 700;
      color: white;
      font-weight: bold;
      line-height: 63px;
      border-bottom: 2px solid white; 
    }
  }

  section.event-list {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;

    div.event {
      border: 1px solid $whimple-green;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      p {
        font-size: 18px;
      }

      div.event-btns {
        padding: 20px;
        a {
          color: white;
          background: $whimple-green;
          text-decoration: none;
          padding: 10px;
          margin: 10px;
          border: 2px solid $whimple-green;
          border-radius: 15px;
        }
      }
    }
  }
}
