.event-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  border-bottom: 1px solid grey;

  a {
    text-decoration: none;
  }
}

.event-image {
  margin-right: 15px;
}

.event-details {
  display: flex;
  flex-direction: column;
}
