.player-list{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 30%;
  justify-content: center;
}

.player-picture {
  margin-right: 10px;
}

.player-details {
  display: flex;
  flex-direction: column;
}
