#players-index {
  font-family: 'Hind', sans-serif;

  section.title {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(88, 196, 74, 0.315), rgba(88, 196, 74, 0.315)), url('card1.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.description {
      align-self: center;

      h1 {
        align-self: center;
        font-size: 70px;
        letter-spacing: 1.5px;
        font-weight: 700;
        color: white;
        font-weight: bold;
        line-height: 63px;
        border-bottom: 2px solid white;
      } 
    }
  }

  div.player-list {
    padding: 10px 10px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }

  article.player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid $whimple-green;

    div.player-picture {
      object-fit: cover;
    }
  
    div.player-details {
      color: black;
      text-align: center;
      flex-direction: column;
      justify-content: center;

      a {
        text-decoration: none;
        color: black;
        text-transform: capitalize;
      }
      p {
       padding: 5px;
      }
      img {
        border-radius: 50%;
        border: 2px solid $whimple-green;
      }
    }
  }
}

div#show-player {
  font-family: 'Hind', sans-serif;

  section.title {
    height: 600px;
    background: linear-gradient(rgba(88, 196, 74, 0.315), rgba(88, 196, 74, 0.315)), url('background-whimple.jpg');
    background-position: center;
    background-size: cover;
  }

  section.profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    h3 {
      font-size: 24px;
    }
    img {
      border-radius: 50%;
      border: 5px solid $whimple-green;
    }
    p {
      font-size: 18px;
      padding-top: 0px;
      width: 50%;
      text-align: center;
    }

    div.stats {
      display: flex;
      flex-direction: row;
      width: 50%;
      align-content: center;
      p {
        width: 100%;
        text-align: center;
      }

      span {
        font-weight: bold;
      }
    }
  }
  hr {
    width: 25%;
    border: 1px solid $whimple-green;
  }
  section.admin-btns {
    text-align: center;
    padding: 20px;
    a {
      color: white;
      padding: 10px;
      text-decoration: none;
      border: 1px solid $whimple-green;
      background: $whimple-green;
      border-radius: 15px;
    }
    a.delete-btn {
      border-color: #e23131;
      background: #e23131;
    }
  }
}

div#new-player {
  font-family: 'Hind', sans-serif;
  .title {
    height: 200px;
    background: $whimple-green;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      align-self: flex-end;
      font-size: 70px;
      letter-spacing: 1.5px;
      font-weight: 700;
      color: white;
      font-weight: bold;
      line-height: 63px;
      border-bottom: 2px solid white;
    } 
  }
  .player-form {
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center; 
  
    form {
      display: flex;
      flex-direction: column;

      input, textarea {
        margin: 20px auto;
        height: 30px;
        width: 50%;
        // border-radius: 15px;
        border:1px solid hsl(0, 1%, 63%);
        text-align: center;      
      }
      input[type="submit"] {
        background-color: $whimple-green;
        color: white;
      }
      input[type="radio"] {
        height: 15px;
        width: 15px;
      }
      input[type="submit"]:hover {
        cursor: pointer;
      }
      label {
        text-align: center;
      }
      textarea {
        height: 50px;
      }
    }
  }
}
div#edit-player {
  font-family: 'Hind', sans-serif;
  .title {
    height: 200px;
    background: $whimple-green;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      align-self: flex-end;
      font-size: 70px;
      letter-spacing: 1.5px;
      font-weight: 700;
      color: white;
      font-weight: bold;
      line-height: 63px;
      border-bottom: 2px solid white;
    } 
  }
  .player-form {
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center; 
  
    form {
      display: flex;
      flex-direction: column;

      input, textarea {
        margin: 20px auto;
        height: 30px;
        width: 50%;
        // border-radius: 15px;
        border:1px solid hsl(0, 1%, 63%);
        text-align: center;      
      }
      input[type="submit"] {
        background-color: $whimple-green;
        color: white;
      }
      input[type="submit"]:hover {
        cursor: pointer;
      }
      textarea {
        height: 50px;
      }
    }
  }
}
