$whimple-green: hsl(118, 49%, 29%);

div#home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 600px 300px 500px 100px 300px;
  grid-row-gap: 10px;
  font-family: 'Hind', sans-serif;

  section.title {
    background: url("background.jpg");
    background-repeat: none;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    div.description {
      align-self: center;

      h1 {
        align-self: center;
        font-size: 70px;
        letter-spacing: 1.5px;
        font-weight: 700;
        color: white;
        font-weight: bold;
        line-height: 63px;
        border-bottom: 2px solid white;
      } 
    }
  }

  section#about {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 40px;
    }

    p {
      text-align: center;
      width: 50%;
      font-size: 18px;
    }

    a {
      color: white;
      background: $whimple-green;
      text-decoration: none;
      padding: 10px;
      border: 2px solid $whimple-green;
      border-radius: 15px;
    }
  }
  section#links {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        height: 70%;
        width: 70%;
      }

      p {
        font-size: 18px;
        width: 50%;
        text-align: center;
      }

      a {
        padding: 10px;
        text-decoration: none;
        color: white;
        border: 2px solid $whimple-green;
        background: $whimple-green;
        border-radius: 15px;
      }
    }
  }
  section#social-media {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background: $whimple-green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;

      li {
        padding: 0 30px;

        a {
          color: white;
          font-size: 45px;
        }
      }
    }
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: -10px;
    z-index: -1;
    background: rgb(26, 75, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    p {
      color: white;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}



// div.header {
//   border-bottom: 2px solid black;

//   .title {
//     margin-top: 100px;
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     justify-content: center;
//   }
//   h1 {
//     color: white;
//     margin: auto;
//     align-self: center;
//     padding: 5px 150px;
//     display: flex;
//     flex-direction: column;
//   }

//   h3 {
//     color: white;
//     text-align: center;
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 300;
//     font-size: 32px;
//   }
// }

// .sponsor-list {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   height: 600px;
//   background: rgba(199, 199, 199, 0.47);
// }

// .sponsor {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

// #sponsors {
//   h3 {
//     text-align: center;
//   }
// }

// // .next {
// //   position: relative;
// //   margin-top: 800px;
// //   height: 500px;
// //   background: pink;
// // }
