div.landing {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 800px;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  // background: url(background2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

div.content-head {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

div.title {
  margin: auto;
  align-self: center;
  padding: 5px 150px;
  display: flex;
  flex-direction: column;

  h1 {
    align-items: center;
    font-size: 82px;
    letter-spacing: 1.5px;
    font-weight: 700;
    align-self: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin: 10px;
    font-weight: bold;
  }
  hr {
    border: 1px solid white;
  }

  h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 32px;
  }
}

div.header {
  border-bottom: 2px solid black;

  .title {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  h1 {
    color: white;
    margin: auto;
    align-self: center;
    padding: 5px 150px;
    display: flex;
    flex-direction: column;
  }

  h3 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
  }
}

.sponsor-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 600px;
  background: rgba(199, 199, 199, 0.47);
}

.sponsor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#sponsors {
  h3 {
    text-align: center;
  }
}

// .next {
//   position: relative;
//   margin-top: 800px;
//   height: 500px;
//   background: pink;
// }
