body {
  font-family: $body-font;
}

div#home {

  section.title {
    background: linear-gradient($background-overlay, $background-overlay), url('background.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    font-family: $title-font;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    div.description {
      align-self: center;

      h1 {
        align-self: center;
        font-size: 70px;
        letter-spacing: 1.5px;
        font-weight: 700;
        color: white;
        font-weight: bold;
        line-height: 63px;
        border-bottom: 2px solid white;
        text-align: center;
      } 
    }
  }

  section#next-game {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(46, 46, 73, 0.685), rgba(34, 36, 65, 0.815)), url('whimple-blur.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: left;

    div.content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 1000px;
      width: 100%;
      height: 100%;
      color: white;

      h2 {
        font-weight: 800;
        font-size: 25px;
        color: white;
        text-align: center;
      }

      div.title-fixture {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }

      h1 {
        text-align: center;
        font-size: 60px;
      }
    }
  }

  section#image-break {
    height: 300px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)), url('whimple-score-bw.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: left;
  }

    a {
      color: $whimple-green;
      background: white;
      text-decoration: none;
      padding: 10px;
      border: 2px solid $whimple-green;
      border-radius: 15px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 18px;
    }
    a:hover {
      background: $whimple-green;
      color: white;
    }

  section#lg-links {
    padding: 40px 0;
    div.content-container {
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      div.lg-link {
        box-shadow: 1px 1px 1px rgb(214, 214, 214);
        width: 30%;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div.link-image {
          height: 172px;
          width: 268px;
          border-bottom: none;
          img {
            width: 100%;
            height: 100%;
          }
        }
        div.card-box {
          background: white;
          font-weight: 700;
          width: 100%;
        }
      }
    }
  }

  section#about {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)), url('whimple-score-bw.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: left;

    div.container {
      max-width: 1000px;

      div.details {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        h2 {
          color: $whimple-green;
          font-size: 40px;
        }
    
        p {
          color: $whimple-green;
          text-align: center;
          font-size: 18px;
        }
    
        a {
          color: white;
          background: $whimple-green;
          text-decoration: none;
          padding: 10px;
          border: 2px solid white;
          border-radius: 15px;
          padding-bottom: 10px;
          font-size: 18px;
        }
        a:hover {
          background: white;
          color: $whimple-green;
        }
      }
    }
  }
  section#links {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    background: #f8f8f8;
    
    div.content-container {
      margin: 0 auto;
      max-width: 1000px;

      div.get-involved {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
        }
      }
    }
  
  }
}

div#history {

  section.title {
    background: linear-gradient(rgba(88, 196, 74, 0.315), rgba(88, 196, 74, 0.315)), url('background-history.jpg');
    background-size: cover;
    background-position: center;
  }

  div.content-container {
    margin: 0 auto;
    max-width: 1200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .shadow {
    -webkit-box-shadow: 1px 5px 4px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 5px 4px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 5px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  section.club {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .details {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: $whimple-green;
      }
      
      p {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  section.recent {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: linear-gradient(rgba(88, 196, 74, 0.315), rgba(29, 65, 24, 0.314)), url('background-events.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .details {
      color: white;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin-left: auto;
      }
      p {
        font-size: 18px;
        text-align: right;
      }
    }
  }

  section.whiteways {
    div.details {
      display: flex;
      flex-direction: row;
      align-items: space-between;
    }
    div.text {
      width: 50%;
      padding-left: 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-right: 20px;
      h1 {
        color: $whimple-green;
        margin: 10px auto;
      }
      p {
        font-size: 18px;
        text-align: center;
      }
    }
    img {
      height: 40%;
      width: 50%;
    }
  }
  section.knowle-cross {
    color: white;
    min-height: 300px;
    background: linear-gradient(rgba(88, 196, 74, 0.315), rgba(29, 65, 24, 0.314)), url('knowle-cross.jpg');
    background-position: center;
    background-size: cover;
    div.details {
      display: flex;
      flex-direction: column;
      width: 50%;
      h1 {
        color: white;
        display: block;
        text-align: center;
      }
      p {
        padding-left: 20px;
        font-size: 16px;
        text-align: center;
      }
    }
  } 
}

@media only screen and (max-width: 500px) {
  div#history {
    section.club {
      img {
        display: none;
      }
      .details {
        width: 100%;
      }
    }
    section.recent {
      .details {
        width: 100%;
      }
    }
    section.whiteways {
      img {
        display: none;
      }
      .details {
        width: 100%;
        .text {
          width: 100%;
          text-align: center;
        }
      }
    }
    section.knowle-cross {
      div.details {
        align-items: center;
        width:100%;
        p {
          width: 90%;
          padding-left: 0px;
        }
      }
    }
  }
} 

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(26,75,25, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  color: white;
  position: relative;
  top: 10%;
  margin-top: 30px;
  height: 60%;
}

.overlay-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.show-overlay {
  width: 60%
}

@media only screen and (max-width: 850px) {
  h1 {
    border-bottom: none!important;
  }
}