<% if flash[:alert] %>
    <div class="flash flash-alert">
        <% flash[:alert].each do | alert | %>
            <p><%= alert %></p>
        <% end %>
    </div>
<% end %>

<% if flash[:notice] %>
    <div class="flash flash-notice">
        <%= flash[:notice] %>
    </div>
<% end %>