<% if flash[:alert] %>
    <div class="flash flash-alert">
        <h2>Please resolve the following issues:</h2>
        <% flash[:alert].each do | alert | %>
            <p>&#8226 <%= alert %></p>
        <% end %>
    </div>
<% end %>

<% if flash[:notice] %>
    <div class="flash flash-notice">
        <%= flash[:notice] %>
    </div>
<% end %>