<div class="event">
  <h1><%= event.name %></h1>
  <p><%= formatted_date(event.date) %>pm</p>
  <p><%= event.location %></p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate quidem ullam ab ipsa dignissimos quis aliquam. Aut nihil alias, atque saepe ex eaque velit odio neque, quia cumque eligendi reiciendis?</p>
  <div class="event-btns">
    <a href="#">More Info</a>
    <a href="#">Buy Tickets</a>
  </div>
</div>
