<div class="event">
  <div class="event-image">
    <a href=""><img src="http://via.placeholder.com/150x150" alt="placeholder"></a>
  </div>
  <div class="event-details">
    <a href=""><h4><%= event.name %></h4></a>
    <p><%= event.date.strftime('%e %B %Y at %I:%M') %></p>
    <p><%= event.location %></p>
  </div>
</div>
