<% provide(:form_title, 'Edit Event') %>
<% provide(:form_url, '/events/' + @event.id.to_s) %>

<div id="new-event" class="admin-only admin-form">
  <div class="admin-navbar">
  </div>
  <%= render 'shared/flash' %>
  <section class="form">
    <%= render 'event_form' %>
  </section>
</div>


