<% provide(:btn_text, 'Edit Event') %>
<div id="edit-event">
    <section class="title">
        <h1>Edit Event</h1>
    </section>
    <section class="events-form">
        <%= render 'events_form' %>
    </section>
</div>

