<% provide(:title, 'Events') %>

<div id="events-index">
  <section class="title">
    <div class="description">
      <h1 class="page-title">Events</h1>
    </div>
  </section>
  <%= render 'shared/flash' %>
  <% if @events %>
    <section class="event-list">
      <% @events.each do | event | %>
        <%= render 'event', { event: event } %>
      <% end %>
    </section>
  <% end %>
</div>
