<% provide(:btn_text, 'Create Event') %>
<div id="new-event">
    <section class="title">
        <h1>New Event</h1>
    </section>
    <section class="events-form">
        <%= render 'events_form' %>
    </section>
</div>
