<div class="player">
   <div class="player-picture">
      <img src="http://via.placeholder.com/150x150" alt="">
   </div>
   <div class="player-details">
      <h1><%= player.first_name %> <%= player.surname %></h1>
      <h3>1st XI</h3>
   </div>
</div>
