<article class="player">
  <div class="player-details">
     <h1><%= link_to full_name(player), player_path(player) %></h1>
     <a href="<%=player_path(player)%>"><img src="http://via.placeholder.com/150x150" alt=""></a>
     <h3><%=player.role%></h3>
     <% if player.bio %>
      <p><%=player.bio.truncate(150, separator: ' ')%></p>
    <% end %>
  </div>
</article>
