<% provide(:btn_text, 'Edit Player') %>

<div id="edit-player">
    <section class="title">
    <h1>Edit Player</h1>
    </section>
    <section class="player-form">
        <%= render 'player_form' %>
    </section>
</div>
