<% provide(:title, 'Players') %>
<div id="players" class="content">
  <div class="header">
    <div class="title">
      <h1>Players</h1>
      <h3>Who's Who at Whimple CC</h3>
    </div>
  </div>
  <div class="player-list">
    <% @players.each do | player | %>
      <%= render 'player', { player: player } %>
    <% end %>
  </div>
</div>
