<% provide(:title, 'Players') %>

  <div id="players-index">
  <section class="title">
  <div class="image-overlay">
  </div>
    <div class="description">
      <h1>Players</h1>
    </div>
  </section>
  <%= render 'shared/flash' %>
  <div class="player-list">
    <% @players.each do | player | %>
      <%= render 'player', { player: player } %>
    <% end %>
  </div>
</div>
