<% provide(:btn_text, 'Create Player')  %>

<div id="new-player">
    <section class="title">
        <h1>Add Player</h1>
    </section>
    <%= render 'shared/flash' %>
    <section class="player-form">
        <%= render 'player_form' %>
    </section>
</div>
