<section id="social-media">
  <ul>
    <li><a href="https://www.facebook.com/whimple.cricket/"><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="https://twitter.com/whimplecc?lang=en"><i class="fab fa-twitter-square"></i></a></li>
    <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
  </ul>
</section>